@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap");

:root {
	--blue: #1f2937;
	--light-blue: #3882f6;
	--grey: #e5e7eb;
	--secondary-text: #e5e7eb;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* reusable */
.flex {
	display: flex;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	/* padding: 3em 0; */
}

/* general */
body {
	font-family: "Roboto", sans-serif;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	flex: 1;
}

header,
.intro,
footer {
	background-color: var(--blue);
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	border: none;
	padding: 0.5em 1.5em;
	color: white;
	background-color: var(--light-blue);
	border-radius: 6px;
}

p,
a {
	font-size: 18px;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

/* header */
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0 0em 0em;
}

header p {
	font-size: 24px;
	font-weight: bold;
}

.header-links {
	color: var(--secondary-text);
	gap: 1em;
}

/* intro */
.intro {
	padding: 6em 0;
}

.intro .container {
	gap: 3em;
}

.intro-right {
	flex: 1;
	background-color: rgba(255, 255, 255, 0.322);
	justify-content: center;
	align-items: center;
}

.intro-left {
	max-width: 42%;
}

.intro-left h1 {
	font-size: 48px;
	font-weight: bolder;
	max-width: 85%;
}

.intro-left p {
	font-size: 18px;
	color: var(--secondary-text);
	margin: 0.5em 0;
}

/* info */
.info {
	padding: 7em 0;
	padding-top: 3em;
}

.info .container {
	flex-direction: column;
	align-items: center;
}

.info .container h2 {
	color: var(--blue);
	margin-bottom: 1.5em;
}

.all-info-image {
	justify-content: center;
	flex-wrap: wrap;
	gap: 3em;
}

.info-image {
	text-align: center;
	flex-direction: column;
	align-items: center;
	max-width: 11em;
	max-height: 21em;
	gap: 0.5em;
}

.info-placeholder {
	width: 10em;
	height: 10em;
	outline: var(--light-blue) solid 4px;
	background-color: white;
	border-radius: 10px;
}

.info-image p {
	color: var(--blue);
}

/* quote */
.quote {
	background-color: var(--grey);
	padding: 7em 0;
}

.quote .container {
	max-width: 55%;
	flex-direction: column;
}

.quote p {
	font-size: 36px;
	font-style: italic;
	align-self: flex-end;
}

p.quote-author {
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
}

/* call to action */
.call-to-action {
	padding: 6em 0;
}

.call-to-action .container {
	color: white;
	justify-content: space-between;
	background-color: var(--light-blue);
	gap: 10em;
	padding: 3em 7em;
	border-radius: 8px;
}

.call-to-action p {
	font-size: 15px;
}

.call-to-action button {
	border: white solid;
	padding: 0 2.5em;
}

/* footer */
footer .container {
	justify-content: center;
	padding: 2em;
}
